.board-container {
  // height: $bodyHeight;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 10px auto;
}

.tile {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  @include fCenter();
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.dark {
  background-color: $grey;
}

.light {
  background-color: $bgWhite;
}

.board-icon {
  height: 40px;
  width: 40px;
  background-color: transparent;
}
