.board-container {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 10px auto;
}

.tile {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  @include fCenter();
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.dark {
  background-color: $grey;
}

.light {
  background-color: $bgWhite;
}

.board-icon {
  height: 40px;
  width: 40px;
  background-color: transparent;
}

.move-marker {
  position: absolute;
  font-family: $KaushanScript;
  background-color: transparent;
  font-size: 24px;
  animation: placeMarker 0.3s;
}

.path-marker {
  height: 16px;
  width: auto;
  position: absolute;
  animation: placeMarker 0.6s;
}

@keyframes placeMarker {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
