.controls-container {
  height: $controlsHeight;
  @include fCenter(row);
  gap: 80px;
  width: 70vw;
  margin: 0 auto;
  font-family: $KaushanScript;
}

.btn {
  background-color: $bgWhite;
  border-radius: 100px;
  border: none;
  width: 74px;
  height: 36px;
  cursor: pointer;
  transition: $transition;
  font-family: $KaushanScript;
}

#start-btn {
  &:disabled {
    cursor: default;
  }
  &:hover {
    &:not([disabled]) {
      color: $bgWhite;
      opacity: 1;
      transform: scale(1.05);
      background-color: $green;
    }
  }
  &:active {
    &:not([disabled]) {
      opacity: 0.6;
    }
  }
}
#reset-btn {
  &:hover {
    color: $bgWhite;
    opacity: 1;
    transform: scale(1.05);
    background-color: $red;
  }
  &:active {
    opacity: 0.6;
  }
}
