.controls-container {
  height: $controlsHeight;
  @include fCenter(row);
  justify-content: space-around;
  width: 70vw;
  margin: 0 auto;
  font-family: $KaushanScript;
}

.reset-btn {
  background-color: $bgWhite;
  border-radius: 100px;
  border: none;
  width: 74px;
  height: 36px;
  cursor: pointer;
  transition: $transition;
  font-family: $KaushanScript;

  &:hover {
    background-color: $red;
    color: $bgWhite;
    opacity: 0.6;
    transform: scale(1.05);
  }

  &:active {
    opacity: 1;
  }
}
