.modal-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: transparent;

  .modal-bg {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
  }

  .modal-window {
    position: absolute;
    top: calc(100vh - 90%);
    right: calc(100vw - 70%);
    // height: 50%;
    width: 40%;
    background-color: $blue;
    border-radius: 12px;
    border: 10px solid $bg;
    color: $bgWhite;
    font-family: $KaushanScript;
    padding: 20px;

    h1 {
      background-color: transparent;
      text-align: center;
      width: 100%;
    }

    h2,
    p,
    u,
    em {
      background-color: transparent;
    }

    h2 {
      padding: 20px 0 10px;
    }

    .try-btn-container {
      @include fCenter;
      width: 100%;
      background-color: transparent;
      margin-top: 20px;

      button:hover {
        transform: scale(1.05);
        opacity: 0.9;
      }
    }
  }
}
