@import './styles/Variables';
@import './styles/Mixins';
@import './styles/Fonts';

@import './styles/Header';
@import './styles/SwitchBtn';
@import './styles/Controls';
@import './styles/Board';
@import './styles/Footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
