@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
.header-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
.header-container h1 {
  font-family: "Kaushan Script", cursive;
}

.controls-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 80px;
  width: 70vw;
  margin: 0 auto;
  font-family: "Kaushan Script", cursive;
}

.btn {
  background-color: #ebf7fc;
  border-radius: 100px;
  border: none;
  width: 74px;
  height: 36px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-family: "Kaushan Script", cursive;
}

#start-btn:disabled {
  cursor: default;
}
#start-btn:hover:not([disabled]) {
  color: #ebf7fc;
  opacity: 1;
  transform: scale(1.05);
  background-color: #0bac38;
}
#start-btn:active:not([disabled]) {
  opacity: 0.6;
}

#reset-btn:hover {
  color: #ebf7fc;
  opacity: 1;
  transform: scale(1.05);
  background-color: #f44336;
}
#reset-btn:active {
  opacity: 0.6;
}

.board-container {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 10px auto;
}

.tile {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.tile:hover {
  transform: scale(1.1);
}

.dark {
  background-color: #444;
}

.light {
  background-color: #ebf7fc;
}

.board-icon {
  height: 40px;
  width: 40px;
  background-color: transparent;
}

.footer-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  width: 70vw;
  margin: 0 auto;
  font-family: "Kaushan Script", cursive;
}
.footer-container img {
  height: 20px;
  transition: all 0.1s ease-in-out;
  background-color: transparent;
}
.footer-container img:hover {
  opacity: 0.7;
  transform: scale(1.1);
  cursor: pointer;
}
.footer-container img:active {
  opacity: 1;
}

.modal-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: transparent;
}
.modal-container .modal-bg {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
}
.modal-container .modal-window {
  position: absolute;
  top: calc(100vh - 90%);
  right: calc(50vw - max(40%, 400px) / 2);
  width: max(40%, 400px);
  background-color: #2096f3;
  border-radius: 12px;
  border: 10px solid #ddd;
  color: #ebf7fc;
  font-family: "Kaushan Script", cursive;
  padding: 20px;
}
.modal-container .modal-window h1 {
  background-color: transparent;
  text-align: center;
  width: 100%;
}
.modal-container .modal-window h2,
.modal-container .modal-window p,
.modal-container .modal-window u,
.modal-container .modal-window em {
  background-color: transparent;
}
.modal-container .modal-window h2 {
  padding: 20px 0 10px;
}
.modal-container .modal-window .try-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
  margin-top: 20px;
}
.modal-container .modal-window .try-btn-container button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

@media only screen and (max-width: 400px) {
  .board-container {
    max-width: 320px;
    max-height: 320px;
    margin: 10px auto;
  }
  .board-container .tile {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
  }
  .modal-container .modal-window {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ddd;
}/*# sourceMappingURL=style.css.map */